.boat-des {
  margin:auto;
  width: 75%;
  display: grid;
  justify-items: start;
}

h2 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.review {
  font-size: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.rate {
  display: flex;
  align-items: center;
}

img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 50%;
}