.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
  }
  
  .card {
    position: relative;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
  }

  
  .card h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
    
  }
  
  .card p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4px;
  }
  
  .card img {
    position: relative;
    width: 100%;
    height: 200px;
    
    border-radius: 8px;
  }
  .like {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  }

  #dark .card{
    background-color: rgb(42, 42, 42);
  }

  #dark .card h2 {
    color: #b2b0b0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
    
  }

  #dark   .card p {
    color: #b2b0b0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4px;
  }
  



  