.filter-icons {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    /* Add any other styles you need */
  }
  
  .filter-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add any other styles you need */
  }

  .filter-icon svg {
    color: gray;
    width: 20px;
    height: 20px;
  }
  
  .filter-title {
    color: gray;
    margin-top: 8px;
    border-bottom: 2px solid transparent; /* Add transparent border initially */
    padding-bottom: 3px;
    /* Add any other styles you need */
  }


  .filter-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .icon-wrapper {
    display: inline-block;
    transition: color 0.3s;
  }

  .filter-icon:hover .icon-wrapper {
    filter: brightness(0%); /* Adjust the brightness value to 0% to turn it black */
  }
  
  .filter-icon:hover .filter-title {
    color: rgb(26, 26, 26);
    border-bottom: 2px solid rgb(26, 26, 26);
    padding-bottom: 3px;
  }
  