@tailwind base;
@tailwind components;
@tailwind utilities;

.themes {
  display:flex;
}
.task {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
}

.task + .task {
  margin-top: 4px;
}

.task > * + * {
  margin-left: 4px;
}

#light {
  background-color: white;
}

#dark {
  background-color: #000000;
}

#light .rs {
  background-color: #333333;
}

#dark .rs {
  background-color: white;
}

.rs-handle,
.rs-handle:active {
  background-color: #ccc;
}

